.articulos{
    display: flex;
}

.articulos-conten{
    flex-wrap: wrap;
}

.articulos-img{
    height: 150px;
    width: 150px;
}

.articulos-size{
    padding: 15px;
    margin: 25px;
}

.articulos-titulo{
    margin: 0px;
    margin-left: 5px;
    font-size: 18px;
}

.articulos-fecha{
    font-size: 10px;
    color: gainsboro;
    margin: 0px;
    margin-left: 5px;
}

.articulos-descrip{
    font-size: 13px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 3px;
}

.contenedor{
    position: relative;
    text-align: center;
}

.fondo {
	position: relative;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
}


.centreado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.footer-img{
    height: 150px;
    width: 150px;
}

.footer-sepa{
    display: flex;
    justify-content: space-between;
}